langgraph
langchain
langchain-community
langserve
langsmith
langchain_groq
dotenv
aiofiles
streamlit
graphviz
pillow
pymupdf
pdfplumber
pdfminer.six
numpy 
pandas
llama-index-llms-groq
llama-index
llama-index-readers-file
elasticsearch
